<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django 3</title>
</head>
<body>
    <ul>
        <li>Home</li>
        <li>Primera</li>
        <li>Segunda</li>
        <li>Tercera</li>
        <h1>Este es un texto Base</h1>
        <h2>Hola mundo desde Django</h2>
        <h3>Con templates</h3>
        <p>Esto es sobre nosotros, 123</p>
    </ul>
    <h1>Ejemplos propios del uso de If</h1>
    
    <h2>Ejemplo 1: Numeros</h2>
    <ul>
        {% for number in numbers %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>
    
    <h2>Ejemplo 2: Palabras</h2>
    <ul>
        {% for word in words %}
            <li>{{ word }}</li>
        {% endfor %}
    </ul>
    
    <h2>Ejemplo 3: Usuarios</h2>
    <ul>
        {% for user in users %}
            {% if user.is_adult and show_adults %}
                <li>{{ user.name }} ({{ user.age }} )</li>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>Ejemplo 4: Fecha actual</h2>
    <p>Fecha de hoy: {{ current_date }}</p>
    <p>Formato de fecha: {{ current_date|date:"F j, Y" }}</p>

    <h2>Ejemplo 5: Divisa</h2>
    <p>Cantidad: ${{ currency }}</p>
    <p>Cantidad redondeada: ${{ currency|floatformat:2 }}</p>

</body>
</html>
